.container {
    max-width: 830px;
    position: relative;
}

.fonctionnement {
    padding:20px;
    margin-top: 30px;

    .list-fonctionnement {
        li {
            display: flex;
            align-items: center;
            margin: 25px 0px 25px 15px;

            span {
                position:relative;
                position: absolute;
                padding: 3px 9px;
                right: 0;
                left: 17px;
                width: 28px;
                color: white;
                background: #9356DC;
                border-radius: 20px;
            }

            a {
                padding: 20px;
                font-weight: 600;
                display: flex;
                align-items: center;
                width: 100%;
                background:$smoked-white;
                @include btn-shadow;
                border-radius: 20px;

                i {

                    color: grey;
                    margin-right: 5px;
                    margin-left: 10px;

                }
                
            }

            a:hover {
                background-color: $hover;

                & i{
                    color:$primary
                }
            }

            a:visited{
                color:black;
            }
        }
    }
}

.restaurants {
    padding:20px;
    
    h3{
        margin-bottom: 15px;
    }

    figcaption{
        display: flex;
        justify-content: space-between;

        article{
            position: relative;
            display: flex;
            justify-content: unset;
        }
        
    }
}


