footer{
    background-color:$footer;
    color:white;
    padding:20px;
        header{
            margin-bottom:15px;

            h5{
                font-weight: 400;
            }
        }
        
        & a, a:visited{
            color:white;
        }

        & li {
            font-size:15px
        }

}

@media only screen and (min-width: 992px) { 
    header{
        text-align: center;
        
        h5{
            font-size: larger;
        }
    }
    ul {
        display: flex;
        justify-content: center;
        align-items: baseline;

        li{
            text-align: center;
            width: 100%;
        }
    }
}