footer{
    background-color:$footer;
    color:white;
    padding:20px;
        header{
            margin-bottom:15px;

            h5{
                font-weight: 400;
            }
        }
        
        & a, a:visited{
            color:white;
        }

        & li {
            font-size:15px
        }

}