#header-bloc {

    #header-nav{
        @include header-shadow;
        position:relative;
        padding:10px;
        display: flex;
        align-items: center;

        .header-logo {
            margin: 0 auto;
        }

        a h1{
           width: 100%;
           font-size: 0.7em;
        }

        a i {
            position: absolute;
            left: 15px;
            top: 14px;
        }

    }

    .header-localisation {
        background:$dark-grey;
        padding: 20px;
        text-align:center;
    }

    .header-reservation {
        background:$smoked-white;
        text-align: center;
        padding: 15px;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 280px;

        h3 {
            padding: 15px;
        }

        p {
           margin-bottom: 20px;
        }

    }


}