.cards{
        background-color: #ffffff;
        box-shadow: 4px 5px 10px #d3d2d2;
        margin-bottom: 20px;
        border-radius: 15px;
        transition-duration: 0.1s;

        img {
            border-radius: 15px 15px 0 0;
            width: 100%;
            height: 165px;
            object-fit: cover;


        }

        .new {
            position: absolute;
            margin-top: 15px;
            right: 30px;
            text-align: center;
            width: 100px;
            padding: 7px;
            font-weight: 600;
            border-radius: 3px;
            color: #139273;
            background-color:$third;
        }

         figcaption {
            padding: 15px;
        }
}