.loading{  
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    animation: fondue 2.8s 1;

    @keyframes fondue {
        0%, 60% {
               position: absolute;
               z-index: 2;
               background-color: white;
             }
        100%  { 
               z-index: -3;
               background-color:transparent;
            }
        }
    .spinner{
            content: " ";
            position: absolute;
            top:300px;
            right:45%;
            left: 44%;
            display: block;
            width: 64px;
            height: 64px;
            border-radius: 50%;
            z-index: 3;
            animation: spinner 1.2s linear 2;
    }
          @include keyframes (spinner) {
            0% {
              transform: rotate(0deg);
              border: 6px solid $primary;
              border-color: $secondary transparent $primary transparent;
            }


            100% {
              transform: rotate(360deg);
              border: 6px solid $primary;
              border-color: $secondary transparent $primary transparent;
              opacity:0.5;
            }
        }
}

@media only screen and (min-width: 992px) { 
    .loading{
        .spinner{
            right: 43%;
            left: 47%;
        }
    }


}