@mixin header-shadow {
    box-shadow: 0px 0px 2px 3px rgb(17 17 18 / 12%);
}

@mixin btn {
    padding: 15px 20px;
    margin: 10px;
    background: darkmagenta;
    color: white;
    border-radius: 35px;
    font-weight: 600;
    &:visited {
        color:white;
    }

}